<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mobiletrack" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UserPassword"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSelection"
            android:label="@string/title_activity_user_selection" >
        </activity>
        <activity
            android:name=".ChildAppDetail"
            android:label="@string/title_activity_child_app_detail" >
        </activity>
        <activity
            android:name=".ChidAppConnectivity"
            android:label="@string/title_activity_chid_app_connectivity" >
        </activity>
        <activity
            android:name=".SelectViewDetail"
            android:label="@string/title_activity_select_view_detail" >
        </activity>
    </application>

</manifest>
